/* 一个块注释
 * 覆盖全局默认样式 */
@import "./normalize";

.inline-button{
    button + button{
        margin-left: 10px;
    }
}

.margin-bottom{
    margin-bottom: 10px;
}

.full-right{
    float: right;
}

.space-20{
    height: 30px;
}